/* --- Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



/* --- Variables --- */
:root {
  --light: #F6F7F9;
  --dark: #2A2D3C;
  --shade: #E7E9EF;
}

[data-theme="dark"] {
  --light: #191B24;
  --dark: #E7E9EF;
  --shade: #2A2D3C;
}



/* --- Miscelaneous --- */
.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  line-height: 1;
  background-color: var(--light);
  color: var(--dark);
  font-family: "Open Sans", sans-serif;
}

button {
  font-family: "Open Sans", sans-serif;
}

.text {
  font-size: 16px;
  line-height: 1.5;
}



/* --- Navigation --- */
.header {
  position: fixed;
  z-index: 10;
  width: 100%;
  transition: all 0.2s;
}

.scrolled {
  background-color: var(--light);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 10%;
}

#logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  text-decoration: none;
  line-height: 1;
  transition: all 0.2s;
}

#logo .j {
  color: #00cc9c;
}

#logo .s {
  color: var(--dark);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-menu a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin: 0 16px;
  transition: 0.2s;
}

.nav-menu a:hover {
  color: #00cc9c;
}



/* --- Mobile Nav --- */
.burger {
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.burger div {
  width: 20px;
  height: 2px;
  margin: 4px;
  background-color: var(--dark);
  transition: all 0.2s;
}


/* --- Dark Mode Switch --- */
#toggle {
  margin: 0 0 0 16px;
  display: inline-block;
}

#toggle input {
  display: none;
}

.fa-circle-half-stroke {
  cursor: pointer;
  font-size: 18px;
  color: var(--dark-to-light);
  transition: all 0.2s;
}



/* --- home --- */
#home {
  position: relative;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1;
}

#home .content {
  z-index: 1;
}

.background, #tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

h1 {
  font-size: 42px;
  letter-spacing: -3px;
  margin: 0 0 16px;
}

#home .text {
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 24px;
}

.btn {
  display: inline-block;
  background-color: #00cc9c;
  color: var(--light);
  border: 2px solid #00cc9c;
  padding: 18px 32px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.2s;
}

.btn:hover {
  color: #00cc9c;
  background-color: transparent;
}



/* --- About --- */
#about {
  padding: 128px 10% 40px;
}

.fa-user {
  font-size: 26px;
  padding-bottom: 16px;
}

h2 {
  font-size: 42px;
  margin-bottom: 40px;
  letter-spacing: -2px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#about .flex .text {
  text-align: left;
  width: 50%;
  padding-right: 40px;
}

#about a {
  color: #00cc9c;
}

#about .container {
  width: 50%;
  display: grid;
  grid-template-columns: 50fr 50fr;
  grid-template-rows: auto auto auto auto;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  gap: 16px;
}

.flexbox {
  display: flex;
  align-items: center;
  background-color: var(--shade);
  border-radius: 10px;
  transition: all 0.2s;
  padding: 16px;
}

.fa-circle-check {
  font-size: 26px;
  color: #00cc9c;
}

#about .alt-text {
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}



/* --- Projects --- */
#projects {
  padding: 128px 10% 40px;
}

.fa-cubes {
  font-size: 26px;
  padding-bottom: 16px;
}

#projects .container {
  display: grid;
  grid-template-columns: 33fr 33fr 33fr;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card {
  position: relative;
  width: 100%;
}

#projects img {
  width: 100%;
  margin: 0;
  opacity: 0.9;
  object-fit: cover;
  border-radius: 20px;
  border: 1px solid var(--shade);
  transition: 0.2s;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  opacity: 0;
  transition: 0.4s;
  background-color: var(--light);
  border-radius: 20px;
}

.card:hover .overlay {
  opacity: 1;
}
/* NOt green text anymore plz change */
.green-text {
  color: var(--light);
  margin-bottom: 12px;
}

.green-text span {
  background-color: #00cc9c;
  padding: 2px 8px;
  margin: 0 4px;
  border-radius: 5px;
}

h3 {
  color: var(--dark);
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 16px;
  letter-spacing: -1px;
  transition: all 0.2s;
}

.overlay .text {
  color: var(--dark);
  transition: all 0.2s;
  margin-bottom: 16px;
}

.fa-arrow-up-right-from-square {
  font-size: 26px;
  color: var(--dark);
  opacity: 0.9;
  margin-left: 16px;
}



/* --- Contact --- */
#contact {
  padding: 128px 5%;
}

.fa-comments {
  font-size: 26px;
  padding-bottom: 16px;
}

#contact h2 {
  margin: 0 0 16px;
}

#contact .text {
  margin-bottom: 24px;
}

#contact form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20%;
}

.flex-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact input[type="text"], input[type="email"],textarea {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  font-size: 1em;
  width: 100%;
  padding: 18px;
  margin-bottom: 4px;
  border-radius: 10px;
  border: none;
  background-color: var(--shade);
  color: var(---dark);
  transition: all 0.2s;
}

input[type="text"] {
  margin: 0 4px 4px 0;
}

form textarea {
  height: 240px;
  resize: vertical;
  min-height: 120px;
  max-height: 480px;
  display: block;
}

form .btn {
  margin-top: 16px;
}

::-webkit-input-placeholder {
  color: var(--dark);
  transition: color 0.2s;
  font-family: "Open Sans", sans-serif;
  opacity: 0.75;
}

::-moz-placeholder {
  color: var(--dark);
  transition: color 0.2s;
  font-family: "Open Sans", sans-serif;
  opacity: 0.75;
}

::-ms-input-placeholder {
  color: var(--dark);
  transition: color 0.2s;
  font-family: "Open Sans", sans-serif;
  opacity: 0.75;
}



/* --- Footer --- */
footer {
  padding: 40px 10%;
  border-top: 2px solid var(--shade);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

footer nav a {
  font-size: 20px;
  text-decoration: none;
  color: var(--dark);
  opacity: 0.75;
  padding: 2px;
  margin: 0 16px;
  transition: all 0.2s;
  line-height: 2;
}

footer nav a:hover {
  opacity: 1;
}

.copyright {
  font-size: 14px;
  margin-right: 32px;
}



/* --- Media Queries --- */
@media screen and (max-width: 1024px) {
  .nav-menu {
    pointer-events: none;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: var(--light);
    flex-direction: column;
    justify-content: center;
    transition: transform .45s cubic-bezier(.45,0,0,1);
  }

  .expanded {
    pointer-events: auto;
    transform: translateX(0%)
  }

  .nav-menu a {
    margin: 0;
    padding: 16px;
  }

  .header-container {
    padding: 16px 5%;
  }

  #toggle {
    padding: 16px;
    margin: 0;
    display: inline-block;
  }

  .burger {
    display: block;
  }

  #home {
    padding: 0 5%;
  }

  #projects {
    padding: 128px 5% 40px;
  }

  #projects .container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
  }

  #about {
    padding: 128px 5% 40px;
  }

  footer {
    padding: 40px 5%;
  }
}

@media screen and (max-width: 766px) {
  #home .content {
    text-align: center;
  }

  #home .text br {
    display: none;
  }

  #home .text {
    font-size: 24px;
  }

  .flex {
    flex-direction: column;
  }

  #about .flex .text {
    width: 100%;
    padding: 0 0 40px;
  }
  
  #about .container {
    width: 100%;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-rows: auto auto auto auto;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 16px;
  }

  #contact br {
    display: none;
  }

  #contact form {
    padding: 0;
  }

  .flex-form {
    flex-direction: column;
  }

  footer {
    flex-direction: column;
  }

  footer nav a {
    margin: 0 16px;
  }

  .copyright {
    margin: 0 0 16px;
  }
}

@media screen and (min-width: 1920px) {
  .header-container {
    padding: 16px 15%;
  }

  #home {
    padding: 0 30%;
  }

  #projects {
    padding: 128px 15% 40px;
  }

  #about {
    padding: 128px 15% 40px;
  }

  #contact form {
    padding: 0 31%; /* 5% is on #contact */
  }

  footer {
    padding: 40px 15%;
  }
}

@media screen and (min-width: 2560px) {
  .header-container {
    padding: 16px 20%;
  }

  #home {
    padding: 0 33%;
  }

  #projects {
    padding: 128px 20% 40px;
  }

  #about {
    padding: 128px 20% 40px;
  }

  #contact form {
    padding: 0 31%; /* 5% is on #contact */
  }

  footer {
    padding: 40px 20%;
  }
}



/* --- Animations --- */
@keyframes fade-in  {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}